<%- include("partials/header", {title: title, scripts:undefined});%>
<main style="padding:20px;">
    <h4>Poli vaccinali</h4>
    <p>Di seguito una lista dei poli vaccinali disponibili, divisi per giorno e selezionati in accordo alla tua categoria di rischio</p>
    <div class="accordion" id="accordionPoliVaccinali">
        <%  erogazioni = {}
            for (let i = 0; i < results.length; i++){
                if (erogazioni[results[i]['data']] == undefined)
                    erogazioni[results[i]['data']] = []
                erogazioni[results[i]['data']].push(results[i])
            }
            const days = Object.keys(erogazioni);
            for( let i = 0; i < days.length; i++ ) {%>
                <div class="card">
                    <div class="card-header" id="heading<%= days[i]%>">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= days[i]%>" aria-expanded="true" aria-controls="collapse<%= days[i]%>">
                            <%= days[i]%>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse<%= days[i]%>" class="collapse"  aria-labelledby="heading<%= days[i]%>" data-parent="#accordionPoliVaccinali">
                        <div class="card-body card-erogazioni" style="margin:10px auto; display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;">
                            <%for(let j = 0; j < erogazioni[days[i]].length; j++ ) {
                                var erogazione= erogazioni[days[i]][j];%>
                                <div class="card" style="margin: 20px; min-width: 280px; width: calc(50% - 40px);">
                                    <h4 class="card-header"><%= erogazione["polo_vaccinale"]%></h4>
                                    <p style="padding: 5px 10px"><%= erogazione["data"]%></p>
                                    <p style="padding: 5px 10px"><%= erogazione["ora"]%></p>
                                    <p style="padding: 5px 10px"><%= erogazione["vaccino"]%></p>
                                    <button class="btn btn-primary">Procedi</button>
                                </div>
                            <% }%>    
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main>
<%- include("partials/footer")%>
