<%- include("partials/header", {title: title, scripts:undefined})%>
    <h1 style="margin:20px">Prenotazione effettuata</h1>
    <div class="card" style="margin: 20px; min-width: 300px; width: calc(50% - 40px);">
        <h4 class="card-header">Prenotazione #: <%= prenotazione.numero_richiesta %> </h4>
        <div class="card-body">
            <p style="padding: 5px 10px">Codice Fiscale: <%= prenotazione.CF %> </p>
            <p style="padding: 5px 10px">Data: <%= prenotazione.data %> </p>
            <p style="padding: 5px 10px">Ora: <%= prenotazione.ora %> </p>
            <p style="padding: 5px 10px">Polo vaccinale: <%= prenotazione.polo_vaccinale %> </p>
            <p style="padding: 5px 10px">Vaccino: <%= prenotazione.vaccino %> </p>
        </div>
    </div>
    <button style="margin:20px" class="btn btn-primary">
        <a href="http://127.0.0.1:8888/" class="btn btn-primary">Torna alla Home</a> 
    </button>
<%- include("partials/footer")%>